---
import { buttonVariants } from "@/components/ui/button";
---

<header
  class="bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 w-full border-b backdrop-blur"
>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold text-primary text-xl tracking-tight" style="font-family: 'Space Grotesk', sans-serif;">Rust<span class="text-accent">Blog</span></span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1">
        <a
          href="/industry-trends"
          class={buttonVariants({ variant: 'ghost' })}
        >
          Industry Trends
        </a>
        <a
          href="/rust-vs-cpp"
          class={buttonVariants({ variant: 'ghost' })}
        >
          Rust vs C/C++
        </a>
        <a
          href="/borrow-checker"
          class={buttonVariants({ variant: 'ghost' })}
        >
          sheesh Checker
        </a>
        <a
          href="/#course"
          class={buttonVariants({ variant: 'outline' })}
        >
          Rust Course
        </a>
      </nav>
    </div>
  </div>
</header>